<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>login.htm</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProvinceCityServlet</servlet-name>
        <servlet-class>servlet.ProvinceCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvinceCityServlet</servlet-name>
        <url-pattern>/ProvinceCityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherPasswordServlet</servlet-name>
        <servlet-class>servlet.teacherPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherPasswordServlet</servlet-name>
        <url-pattern>/teacherPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherEditServlet</servlet-name>
        <servlet-class>servlet.teacherEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherEditServlet</servlet-name>
        <url-pattern>/teacherEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherEditDoServlet</servlet-name>
        <servlet-class>servlet.teacherEditDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherEditDoServlet</servlet-name>
        <url-pattern>/teacherEditDo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherInfoServlet</servlet-name>
        <servlet-class>servlet.teacherInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherInfoServlet</servlet-name>
        <url-pattern>/teacherInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherPtListServlet</servlet-name>
        <servlet-class>servlet.teacherPtListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherPtListServlet</servlet-name>
        <url-pattern>/teacherPtList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherPtStudentServlet</servlet-name>
        <servlet-class>servlet.teacherPtAllStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherPtStudentServlet</servlet-name>
        <url-pattern>/teacherPtAllStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherStudentEditDoServlet</servlet-name>
        <servlet-class>servlet.teacherStudentEditDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherStudentEditDoServlet</servlet-name>
        <url-pattern>/teacherStudentEditDo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherDelStudentServlet</servlet-name>
        <servlet-class>servlet.teacherDelStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherDelStudentServlet</servlet-name>
        <url-pattern>/teacherDelStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherMarkingServlet</servlet-name>
        <servlet-class>servlet.teacherMarkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherMarkingServlet</servlet-name>
        <url-pattern>/teacherMarking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherFindwayServlet</servlet-name>
        <servlet-class>servlet.teacherFindwayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherFindwayServlet</servlet-name>
        <url-pattern>/teacherFindway</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherFindWay</servlet-name>
        <servlet-class>servlet.teacherFindWay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherFindWay</servlet-name>
        <url-pattern>/teacherFindWay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherMarkingDoServlet</servlet-name>
        <servlet-class>servlet.teacherMarkingDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherMarkingDoServlet</servlet-name>
        <url-pattern>/teacherMarkingDo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherPHomeworkServlet</servlet-name>
        <servlet-class>servlet.teacherPHomeworkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherPHomeworkServlet</servlet-name>
        <url-pattern>/teacherPHomework</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teacherPHomeworkDoServlet</servlet-name>
        <servlet-class>servlet.teacherPHomeworkDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherPHomeworkDoServlet</servlet-name>
        <url-pattern>/teacherPHomeworkDo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminInfo</servlet-name>
        <servlet-class>servlet.adminInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminInfo</servlet-name>
        <url-pattern>/adminInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEdit</servlet-name>
        <servlet-class>servlet.adminEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEdit</servlet-name>
        <url-pattern>/adminEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditDo</servlet-name>
        <servlet-class>servlet.adminEditDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditDo</servlet-name>
        <url-pattern>/adminEditDo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminChange</servlet-name>
        <servlet-class>servlet.adminPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminChange</servlet-name>
        <url-pattern>/adminChangPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminAddTrain</servlet-name>
        <servlet-class>servlet.adminAddTrainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddTrain</servlet-name>
        <url-pattern>/adminAddTrain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTeaherList</servlet-name>
        <servlet-class>servlet.adminTeacherListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTeaherList</servlet-name>
        <url-pattern>/adminTeacherList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTrainList</servlet-name>
        <servlet-class>servlet.adminTrainListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTrainList</servlet-name>
        <url-pattern>/adminTrainLsit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminCount</servlet-name>
        <servlet-class>servlet.adminCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCount</servlet-name>
        <url-pattern>/adminCount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentDownlode</servlet-name>
        <servlet-class>servlet.studentDownlodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentDownlode</servlet-name>
        <url-pattern>/studentDownlode</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>studentEditServlet</servlet-name>
    <servlet-class>servlet.studentEditServlet</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>studentEditServlet</servlet-name>
        <url-pattern>/studentEditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentGrade</servlet-name>
        <servlet-class>servlet.studentGradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentGrade</servlet-name>
        <url-pattern>/studentGrade</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentInfoServlet</servlet-name>
        <servlet-class>servlet.studentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentInfoServlet</servlet-name>
        <url-pattern>/studentInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentUplodeServlet</servlet-name>
        <servlet-class>servlet.studentUplodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentUplodeServlet</servlet-name>
        <url-pattern>/studentUplodeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentSubmitServlet</servlet-name>
        <servlet-class>servlet.studentSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentSubmitServlet</servlet-name>
        <url-pattern>/studentSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentRegisterServlet</servlet-name>
        <servlet-class>servlet.studentRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentRegisterServlet</servlet-name>
        <url-pattern>/studentRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentPasswordServlet</servlet-name>
        <servlet-class>servlet.studentPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentPasswordServlet</servlet-name>
        <url-pattern>/studentPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentEditInfoServlet</servlet-name>
        <servlet-class>servlet.studentEditInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentEditInfoServlet</servlet-name>
        <url-pattern>/studentEditInfo</url-pattern>
    </servlet-mapping>
</web-app>
