<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>login.htm</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProvinceCityServlet</servlet-name>
        <servlet-class>servlet.ProvinceCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvinceCityServlet</servlet-name>
        <url-pattern>/ProvinceCityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminInfo</servlet-name>
        <servlet-class>servlet.adminInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminInfo</servlet-name>
        <url-pattern>/adminInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEdit</servlet-name>
        <servlet-class>servlet.adminEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEdit</servlet-name>
        <url-pattern>/adminEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditDo</servlet-name>
        <servlet-class>servlet.adminEditDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditDo</servlet-name>
        <url-pattern>/adminEditDo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminChange</servlet-name>
        <servlet-class>servlet.adminPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminChange</servlet-name>
        <url-pattern>/adminChangPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminAddTrain</servlet-name>
        <servlet-class>servlet.adminAddTrainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddTrain</servlet-name>
        <url-pattern>/adminAddTrain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTeaherList</servlet-name>
        <servlet-class>servlet.adminTeacherListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTeaherList</servlet-name>
        <url-pattern>/adminTeacherList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTrainList</servlet-name>
        <servlet-class>servlet.adminTrainListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTrainList</servlet-name>
        <url-pattern>/adminTrainLsit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminCount</servlet-name>
        <servlet-class>servlet.adminCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCount</servlet-name>
        <url-pattern>/adminCount</url-pattern>
    </servlet-mapping>
</web-app>
